@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

$color-disabled: #d9534f;
$color-enabled: #5cb85c;

/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="swilter"] {
  display: block;
  font-family: "Droid Sans", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0.25rem;
  border: 1px solid #cccccc;
  padding: 0.5rem;

  swilter-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: flex-start;
    align-items: center;
  }

  swilter-h1 {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  /* Use native elements when you'd like to inherit some styles from the page. */
  // p {
  //   text-indent: 0;
  // }

  /* Use em units to scale elements for different inherited styles. */
  // h1 {
  //   font-size: 1.8em;
  // }

  /* Use custom elements to avoid style inheritance. */
  // .swilter-button {
  //   border: 1px solid;
  // }

  /* Prefix classes with your app's alias to avoid style collisions. */
  // .swilter-highlighted {
  //   background-color: yellow;
  //   outline: .2em solid yellow;
  // }

  .swilter-switch {
    margin-left: 1em;
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;

    input {
      display: none;
    }

    .swilter-switch-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-disabled;
      border-radius: 32px;
      transition: 0.4s;
    }

    .swilter-switch-slider:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }

    input:checked + .swilter-switch-slider {
      background-color: $color-enabled;
    }

    input:checked + .swilter-switch-slider:before {
      transform: translateX(24px);
    }
  }

  .swilter-switch-label {
    padding-left: 0.5rem;
    display: inline-block;
  }
}
