/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="swilter"] {
  display: block;
  font-weight: bold;
  margin: .5em .2em;
  outline: 1px dotted;
  padding: .5em;

  /* Use native elements when you'd like to inherit some styles from the page. */
  // p {
  //   text-indent: 0;
  // }

  /* Use em units to scale elements for different inherited styles. */
  // h1 {
  //   font-size: 1.8em;
  // }

  /* Use custom elements to avoid style inheritance. */
  // .swilter-button {
  //   border: 1px solid;
  // }

  /* Prefix classes with your app's alias to avoid style collisions. */
  // .swilter-highlighted {
  //   background-color: yellow;
  //   outline: .2em solid yellow;
  // }

  .swilter-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      display:none;
    }

    .swilter-switch-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius: 34px;
      transition: .4s;
    }

    .swilter-switch-slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 50%;
      transition: .4s;
    }

    input:checked + .swilter-switch-slider {
      background-color: #2196F3;
    }

    input:focus + .swilter-switch-slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .swilter-switch-slider:before {
      transform: translateX(26px);
    }

  }
}
